name: Hous PR Builder

on:
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Gradle cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Create Google-Services.json
      env:
        GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
      run: |
        touch ./app/google-services.json
        echo $GOOGLE_SERVICES >> ./app/google-services.json
        cat ./app/google-services.json

    - name: Create Local Properties
      run: touch local.properties

    - name: Access Local Properties
      env:
        HOST_URI: ${{ secrets.HOST_URI }}
        HOST_RELEASE_URI: ${{ secrets.HOST_RELEASE_URI }}
        KAKAO_NATIVE_APP_KEY: ${{ secrets.KAKAO_NATIVE_APP_KEY }}
        KAKAO_REDIRECT_SCHEME: ${{ secrets.KAKAO_REDIRECT_SCHEME }}
        KEYSTORE_PATH: ${{ secrets.KEYSTORE_PATH }}
        STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
        KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        STORE_FILE: ${{ secrets.STORE_FILE }}
      run: |
        echo HOST_URI=\"$HOST_URI\" >> local.properties
        echo HOST_RELEASE_URI=\"$HOST_RELEASE_URI\" >> local.properties
        echo KAKAO_NATIVE_APP_KEY=\"$KAKAO_NATIVE_APP_KEY\" >> local.properties
        echo KAKAO_REDIRECT_SCHEME=\"$KAKAO_REDIRECT_SCHEME\" >> local.properties
        echo KEYSTORE_PATH= $KEYSTORE_PATH >> local.properties
        echo STORE_PASSWORD= $STORE_PASSWORD >> local.properties
        echo KEY_PASSWORD= $KEY_PASSWORD >> local.properties
        echo KEY_ALIAS= $KEY_ALIAS >> local.properties
        echo STORE_FILE= $STORE_FILE >> local.properties

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Create keystore
      run: |
        mkdir -p app/keystore
        touch app/keystore/hous_key.jks

    - name: decode release keystore
      run: echo "${{ secrets.RELEASE_KEYSTORE_FILE_BASE_64 }}" | base64 -d > app/keystore/hous_key.jks

    - name: Lint Check
      run: ./gradlew ktlintCheck

    - name: Build with Gradle
      run: ./gradlew build

    - name: On Success!! Congratulations
      if: ${{ success() }}
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_COLOR: '#53A551'
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
        SLACK_TITLE: 'Hous/PR Check S.U.C.C.E.S.S π‰π‰π‰'
        MSG_MINIMAL: true
        SLACK_USERNAME: Hous-AOS
        SLACK_MESSAGE: 'PRμ΄ μ™„λ£λμ—μµλ‹λ‹¤!!! π‰π‰π‰'

    - name: On Failed, Notify in Slack
      if: ${{ failure() }}
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_COLOR: '#ff0000'
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
        SLACK_TITLE: 'Hous/Android Debug build Failβ'
        MSG_MINIMAL: true
        SLACK_USERNAME: Hous-AOS
        SLACK_MESSAGE: 'μ—λ¬λ¥Ό ν™•μΈν•΄μ£Όμ„Έμ”'
