name: Hous PR Builder

on:
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Gradle cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Create Local Properties
      run: touch local.properties

    - name: Access Local Properties
      env:
        KAKAO_NATIVE_APP_KEY: ${{ secrets.KAKAO_NATIVE_APP_KEY }}
        KAKAO_REDIRECT_SCHEME: ${{ secrets.KAKAO_REDIRECT_SCHEME }}
      run: |
        echo "KAKAO_NATIVE_APP_KEY=\"$KAKAO_NATIVE_APP_KEY\"" >> local.properties
        echo "KAKAO_REDIRECT_SCHEME=\"$KAKAO_REDIRECT_SCHEME\"" >> local.properties

    - name: Lint Check
      run: ./gradlew ktlintCheck

    - name: Build with Gradle
      run: ./gradlew build

    - name: On Success!! Congratulations
      if: ${{ success() }}
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_COLOR: '#53A551'
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
        SLACK_TITLE: 'Hous/PR Check S.U.C.C.E.S.S π‰π‰π‰'
        MSG_MINIMAL: true
        SLACK_USERNAME: Hous-AOS
        SLACK_MESSAGE: 'PRμ΄ μ™„λ£λμ—μµλ‹λ‹¤!!! π‰π‰π‰'

    - name: On Failed, Notify in Slack
      if: ${{ failure() }}
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_COLOR: '#ff0000'
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
        SLACK_TITLE: 'Hous/Android Debug build Failβ'
        MSG_MINIMAL: true
        SLACK_USERNAME: Hous-AOS
        SLACK_MESSAGE: 'μ—λ¬λ¥Ό ν™•μΈν•΄μ£Όμ„Έμ”'
